<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title-wrapper"> 
      <a class="title-link" target="_blank" href="{{link}}">{{title}}</a>
      <button class="btn pull-right save-article" data-id="{{id}}">SAVE ARTICLE</button>
    </div>
  </div>
  <div class="panel-body summary">
    {{summary}}
  </div>
</div>